// primary colors
$primary: #593954;
$primary-light: #f1dbee;
$light-bg-color: #eaf4f4;
$btn-edit: #818274;
$btn-details: #a3ab78;
// grey colors
$light-grey: #ced4da;
$light-grey-1: #f5f5f5;
$light-grey-2: #eee;

// generic colors
$black: #000;
$white: #fff;
